.projects-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 50px;

    .header {
        width: 90%;
        padding-top: 2vh;  
    
        .header-label {
            font-weight: bold;
            background: linear-gradient(120deg, rgb(80, 87, 187), rgb(208, 74, 212));
            background-clip: text;
            color: transparent;
            width: 500px;
        }
    }

    .header::after {
        content: '';
        display: block;
        height: 5px;
        background: linear-gradient(to right, rgb(57, 62, 134), rgb(153, 53, 156));
        width: 100%;
        border-radius: 3px;
    }

    .text-block {
        width: 90%;
        color: rgba(255, 255, 255, 0.7);
        font-size: larger;
        line-height: 1.5em;
    }

    .header::after {
        content: '';
        display: block;
        height: 5px;
        background: linear-gradient(to right, rgb(57, 62, 134), rgb(153, 53, 156));
        width: 100%;
        border-radius: 3px;
    }

    .label-container {
        width: 80%;

        .label {
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            // Text CSS
            font-weight: bold;
            font-size: 20px;
            background: linear-gradient(120deg, rgb(80, 87, 187), rgb(208, 74, 212));
            background-clip: text;
            color: transparent;
            width: 160px;
        }
        .label-decoration {
            width: 6px;
            height: 6px;
            border-top: 4px solid rgb(197, 197, 197);
            border-right: 4px solid rgb(197, 197, 197);
            transform: rotate(45deg);
        }
    }

    .project {
        overflow: hidden;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        background-color: rgba(85, 85, 85, 0.301);
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
        box-shadow: inset 1px 1px 3px rgb(0, 0, 0);

        .project-link {
            color: rgba(255, 255, 255, 0.7);
            width: 90%;
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
            justify-content: flex-start;
            font-size: larger;
            flex-wrap: wrap;
            word-break: break-all;

            a {
                all: unset;
                color: rgb(118, 118, 238);
                padding-left: 3px;
                padding-right: 3px;
                border-radius: 2px;
            }
            a:focus, a:hover {
                background-color: rgba(128, 128, 240, 0.5);
                color: black;
                cursor: pointer;
            }
        }
    }

    .contact-box {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 50px;
        padding: 10px;
    }

    a {
        all: unset;
        color: rgba(255, 255, 255, 0.7);
    }

    a:hover, a:focus {
        background-color: rgba(143, 143, 143, 0.5);
        cursor: pointer;
    }

    .svg {
        width: 18px;
        height: 18px;
        border-radius: 3px;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 4px;
    }
}