.app-container {
    background: linear-gradient(120deg, rgb(57, 62, 134), rgb(153, 53, 156));
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100%;
    height: auto;
    .header {
        padding-top: 2vh;
        text-align: center;
        font-size: 30px;
        font-weight: bold;

        .nav-sandwich {
            visibility: hidden;
            width: 0px;
            overflow: hidden;
        }

        .name {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2px;
        }

        .title {
            font-size: 15px;
            padding-top: 4px;
            color: rgb(255, 255, 255);
        }

        .name::before {
            content: '';
            background-color: rgb(185, 185, 185);
            display: block;
            width: 10px;
            height: 45px;
        }
    }
    .app {
        position: relative;
        width: calc(60vw);
        display: flex;
        flex-direction: row;
        gap: 20px;

        .navigation {
            position: fixed;
            right: calc(81vw); 
        }
        .page {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.63);
            border-radius: 10px;
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
            overflow: hidden;
        }
    }

    @media (min-width: 2500px) {
        .app {
            width: calc(40vw);
            .navigation {
                right: calc(71vw); 
            }
        }
    }
    @media (max-width: 1400px) {
        .header {
            font-size: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            padding-bottom: 2vh;
            .nav-sandwich {
                visibility: visible;
                padding-left: 8px;
                padding-right: 8px;
                height: auto;
                width: auto;
            }

            .title {
                font-size: 12px;
            }
        }

        .app {
            gap: 0px;
            width: calc(90vw);

            .page {
                border-radius: 10px;
            }
        }

        .navigation {
            width: 0px;
            overflow: hidden;
        }
    }
}

.alien {
    position: absolute;
    visibility: hidden;

    animation: fly 10s, wobble 0.4s infinite alternate;

    @keyframes fly {
        from {
            visibility: visible;
            top: 40vh;
            left: -5vw;
        }
        25% {
            top: 30vh;
            left: 50vw;
        }
        75% {
            top: 50vh;
            left: 95vw;
        }
        to {
            visibility: visible;
            top: 10vh;
            left: -5vw;
        }
    }

    @keyframes wobble {
        from {
            transform: rotate(-10deg);
        }
        to {
            transform: rotate(10deg);
        }
    }
}
