<div class="app-container">
  <div class="header">Thomas Connole 
    <button mat-icon-button [matMenuTriggerFor]="navigation">
      <mat-icon class="nav-sandwich">menu</mat-icon>
    </button>
  </div>
  <div class="app">
    <app-nav-bar class="navigation"></app-nav-bar>
    <div class="page"><router-outlet ></router-outlet></div>
    <!-- <app-nav-bar class="navigation"></app-nav-bar> -->
  </div>
</div>

<mat-menu #navigation xPosition="before">
  <button mat-menu-item routerLink="home">
    <mat-icon>home</mat-icon>
    <span>About Me</span>
  </button>
  <button mat-menu-item routerLink="resume">
    <mat-icon>description</mat-icon>
    <span>Resume</span>
  </button>
  <button mat-menu-item routerLink="projects">
    <mat-icon>code</mat-icon>
    <span>Projects</span>
  </button>
  <button mat-menu-item routerLink="contact">
    <mat-icon>phone</mat-icon>
    <span>Contact</span>
  </button>
</mat-menu>
