<div class="app-container">
  <div class="header">
    <div>
      <div class="name">
        <div>
          <div>Thomas</div>
          <div>Connole</div>
        </div>
      </div>
      <div class="title">SOFTWARE ENGINEER</div>
    </div>
    <button class="nav-sandwich" mat-icon-button [matMenuTriggerFor]="navigation">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="app">
    <app-nav-bar class="navigation"></app-nav-bar>
    <div class="page"><router-outlet ></router-outlet></div>
  </div>
</div>

<mat-menu #navigation xPosition="before">
  <button mat-menu-item routerLink="home">
    <mat-icon>home</mat-icon>
    <span>About Me</span>
  </button>
  <button mat-menu-item routerLink="resume">
    <mat-icon>description</mat-icon>
    <span>Resume</span>
  </button>
  <button mat-menu-item routerLink="projects">
    <mat-icon>code</mat-icon>
    <span>Projects</span>
  </button>
  <button mat-menu-item routerLink="contact">
    <mat-icon>phone</mat-icon>
    <span>Contact</span>
  </button>
</mat-menu>
