
<div class="nav-bar-container">
    <div class="nav-bar">
        <img class="glasses" src="./assets/images/glass.png">
        <img class="headshot" src="./assets/images/headshot-2.jpeg">

        <div class="nav-button">
            <button routerLink="home">
                <div class="nav-button-text">About Me</div>
                <mat-icon class="nav-button-icon">home</mat-icon>
            </button>
        </div>

        <div class="nav-button">
            <button routerLink="resume">
                <div class="nav-button-text">Resume</div>
                <mat-icon class="nav-button-icon">description</mat-icon>
            </button>
        </div>

        <div class="nav-button">
            <button routerLink="projects">
                <div class="nav-button-text">Projects</div>
                <mat-icon class="nav-button-icon">code</mat-icon>
            </button>
        </div>

        <div class="nav-button">
            <button routerLink="contact">
                <div class="nav-button-text">Contact</div>
                <mat-icon class="nav-button-icon">phone</mat-icon>
            </button>
        </div>

        <div class="nav-button">
            <div class="nav-button-icon">
                <div class="social-icon" onclick="window.location='https://facebook.com'">
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><rect fill="none" height="24" width="24"/><path d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z"/></svg>
                </div>
            </div>
        </div>
        </div>
</div>