
button {
    all: unset;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a:focus {
    all: unset;
}

.nav-bar-container {
    padding-top: 10vh;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;

    .social-bar {
        padding-top: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .social-icon {
        padding: 5px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .social-icon:hover, .social-icon:focus {
        background: linear-gradient(120deg, rgb(57, 62, 134), rgba(179, 97, 182, 0.8));
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .headshot {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .glasses {
        position: absolute;
        top: 40px;
        left: 20px;
        width: 100px;
        padding: 40px;
    }
    .glasses:hover {
        animation: lift 1s;
        top: 20px;

        @keyframes lift {
            from {
                top: 40px;
            }
            to {
                top: 20px;
            }
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }

    .nav-button {
        background-color: rgb(36, 36, 36);
        width: 100%;
        
        .nav-button-text {
            padding: 10px;
            color: white;
        }
        .nav-button-icon {
            color: white;
            padding: 3px;
        }
    }
    .nav-button:last-of-type {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgb(240, 240, 240);
    }
    .nav-button:hover {
        background: linear-gradient(320deg, rgb(57, 62, 134), rgb(115, 39, 117));
        cursor: pointer;
    }

    button:focus {
        background: linear-gradient(320deg, rgb(57, 62, 134), rgb(115, 39, 117));
        box-shadow: inset 0px 0px 2px black;
    }

    .nav-button:last-of-type:hover {
        background-color: rgb(240, 240, 240);
        background: rgb(240, 240, 240);
        box-shadow: none;
        cursor: default;
    }
}