<div class="home-container">
    <!-- about -->
    <div class="header">
        <h1 class="header-label">About</h1>
    </div>

    <!-- Skill -->
    <div class="header">
        <h1 class="header-label">Skills</h1>
    </div>

    <!-- front-end -->
    
    <div class="label-container">
        <div class="label">
        <div class="label-decoration"></div>
            Front End
        </div>
    </div>
    <div class="skill-group-container">
        <div class="skill" *ngFor="let skill of fSkills">
            <app-skill-meter [skill]="skill"></app-skill-meter>
        </div>
    </div>  
    
    <!-- back-end -->
    <div class="label-container">
        <div class="label">
        <div class="label-decoration"></div>
            Back End
        </div>
    </div>
    <div class="skill-group-container">
        <div class="skill" *ngFor="let skill of bSkills">
            <app-skill-meter [skill]="skill"></app-skill-meter>
        </div>
    </div>
    <!-- other -->
    <div class="label-container">
        <div class="label">
        <div class="label-decoration"></div>
            Other Skills
        </div>
    </div>
    <div class="skill-group-container">
        <div class="skill" *ngFor="let skill of otherSkills">
            <app-skill-meter [skill]="skill"></app-skill-meter>
        </div>
    </div>
    <!-- hobbies -->
    <h1>hobbies!</h1>
    <div class="header">
        <!-- <img class="image" src="./assets/images/headshot.jpeg"> -->
    </div>
</div>
