<div class="home-container">
    <!-- about -->
    <div class="header">
        <h1 class="header-label">About</h1>
    </div>

    <p class="text-block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas leo eget velit tristique, sed posuere enim porta. Proin feugiat non velit porttitor fermentum. Nulla aliquet nisl nec tincidunt mollis. Ut ornare ipsum quis laoreet dictum. Nullam rhoncus blandit nisi quis mollis. Aliquam ut est sit amet augue pellentesque hendrerit id in nulla. Nullam lectus ligula, sodales eu dignissim eget, placerat quis ante. Mauris in felis non ipsum commodo efficitur vel eget ante. Nullam nulla neque, rhoncus eu pellentesque ut, aliquam sit amet turpis. Curabitur volutpat diam odio, eu pretium nulla faucibus et. Donec eu risus tempus, euismod leo vitae, aliquet ligula.
        Vivamus tempus leo ac quam convallis ultricies. Suspendisse a sagittis ligula. Mauris in justo eu metus rutrum sodales. Ut dictum, nibh sit amet dictum vestibulum, justo massa sodales urna, vitae convallis urna diam id massa. Cras fermentum, turpis vitae convallis pulvinar, urna nunc lacinia risus, sit amet faucibus quam risus eu metus. Suspendisse imperdiet risus ex, id finibus neque maximus vitae. Nulla accumsan quam dictum augue euismod, eget imperdiet nunc lobortis. Etiam quis congue orci. Duis tristique faucibus ante in vehicula. Vestibulum porta lectus justo, at pellentesque tellus efficitur id. Aenean nec nibh facilisis, fermentum odio non, maximus massa. Quisque molestie est est, congue tristique velit pellentesque at. Vivamus iaculis purus vitae lorem ultricies, vel eleifend dui gravida. 
    </p>
    <!-- Skill -->
    <div class="header">
        <h1 class="header-label">Skills</h1>
    </div>

    <!-- front-end -->
    <div class="label-container">
        <div class="label">
        <div class="label-decoration"></div>
            Front End
        </div>
    </div>
    <div class="skill-group-container">
        <div class="skill" *ngFor="let skill of fSkills">
            <app-skill-meter [skill]="skill"></app-skill-meter>
        </div>
    </div>  
    
    <!-- back-end -->
    <div class="label-container">
        <div class="label">
        <div class="label-decoration"></div>
            Back End
        </div>
    </div>
    <div class="skill-group-container">
        <div class="skill" *ngFor="let skill of bSkills">
            <app-skill-meter [skill]="skill"></app-skill-meter>
        </div>
    </div>

    <!-- other -->
    <div class="label-container">
        <div class="label">
        <div class="label-decoration"></div>
            Other Skills
        </div>
    </div>
    <div class="skill-group-container">
        <div class="skill" *ngFor="let skill of otherSkills">
            <app-skill-meter [skill]="skill"></app-skill-meter>
        </div>
    </div>

    <!-- hobbies -->
    <div class="header">
        <h1 class="header-label">Hobbies</h1>
    </div>
    <p class="text-block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas leo eget velit tristique, sed posuere enim porta. Proin feugiat non velit porttitor fermentum. Nulla aliquet nisl nec tincidunt mollis. Ut ornare ipsum quis laoreet dictum. Nullam rhoncus blandit nisi quis mollis. Aliquam ut est sit amet augue pellentesque hendrerit id in nulla. Nullam lectus ligula, sodales eu dignissim eget, placerat quis ante. Mauris in felis non ipsum commodo efficitur vel eget ante. Nullam nulla neque, rhoncus eu pellentesque ut, aliquam sit amet turpis. Curabitur volutpat diam odio, eu pretium nulla faucibus et. Donec eu risus tempus, euismod leo vitae, aliquet ligula.
        Vivamus tempus leo ac quam convallis ultricies. Suspendisse a sagittis ligula. Mauris in justo eu metus rutrum sodales. Ut dictum, nibh sit amet dictum vestibulum, justo massa sodales urna, vitae convallis urna diam id massa. Cras fermentum, turpis vitae convallis pulvinar, urna nunc lacinia risus, sit amet faucibus quam risus eu metus. Suspendisse imperdiet risus ex, id finibus neque maximus vitae. Nulla accumsan quam dictum augue euismod, eget imperdiet nunc lobortis. Etiam quis congue orci. Duis tristique faucibus ante in vehicula. Vestibulum porta lectus justo, at pellentesque tellus efficitur id. Aenean nec nibh facilisis, fermentum odio non, maximus massa. Quisque molestie est est, congue tristique velit pellentesque at. Vivamus iaculis purus vitae lorem ultricies, vel eleifend dui gravida. 
    </p>
</div>
