.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    overflow: hidden;
    padding-top: 20px;

    .header {
        width: 90%;
        .header-label {
            font-weight: bold;
            background: linear-gradient(120deg, rgb(80, 87, 187), rgb(208, 74, 212));
            background-clip: text;
            color: transparent;
            width: 100px;
        }
    }
    .header:first-child {
        padding-top: 2vh;
    }

    .text-block {
        width: 90%;
        color: rgba(255, 255, 255, 0.7);
        font-size: larger;
    }

    .text-block:last-child {
        padding-bottom: 30px;
    }

    .header::after {
        content: '';
        display: block;
        height: 5px;
        background: linear-gradient(to right, rgb(57, 62, 134), rgb(153, 53, 156));
        width: 100%;
        border-radius: 3px;
    }

    .skill {
        width: 90%;
    }

    .label-container {
        width: 80%;

        .label {
            width: 80%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            // Text CSS
            font-weight: bold;
            font-size: 20px;
            background: linear-gradient(120deg, rgb(80, 87, 187), rgb(208, 74, 212));
            background-clip: text;
            color: transparent;
            width: 150px;
        }
        .label-decoration {
            width: 6px;
            height: 6px;
            border-top: 4px solid rgb(197, 197, 197);
            border-right: 4px solid rgb(197, 197, 197);
            transform: rotate(45deg);
        }
    }

    .skill-group-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        background-color: rgba(85, 85, 85, 0.301);
        padding-top: 20px;
        padding-bottom: 30px;
        border-radius: 10px;
        box-shadow: inset 1px 1px 3px rgb(0, 0, 0);
    }
}